*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  height: 100svh;
  overflow: hidden;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  height: 100%;
}

.play-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.play-btns__btn {
  overflow: hidden;
  position: relative;
  padding: 0.25em 0.5em;
  background: rgb(228, 228, 228);
  cursor: pointer;
  font-size: 5rem;
  border: 5px solid rgb(214, 214, 214);
  border-radius: 10px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: inherit;
  backdrop-filter: blur(5px);
}
.play-btns__btn-bg {
  position: absolute;
  transition: all 0.3s ease-out;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}
.play-btns__btn:hover .play-btns__btn-bg {
  transform: translateY(0);
}
.play-btns__btn-bg:nth-child(1) {
  background-image: url("img/wave-btn/wave-btn-1.svg");
}
.play-btns__btn-bg:nth-child(2) {
  background-image: url("img/wave-btn/wave-btn-2.svg");
  transition-delay: 0.1s;
}
.play-btns__btn-bg:nth-child(3) {
  background-image: url("img/wave-btn/wave-btn-3.svg");
  transition-delay: 0.2s;
}
.play-btns__btn-bg:nth-child(4) {
  background-image: url("img/wave-btn/wave-btn-4.svg");
  transition-delay: 0.3s;
}
.play-btns__container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.join-form {
  display: flex;
  flex-direction: column;
}
.join-form label {
  cursor: pointer;
  font-size: 3rem;
  margin-top: 10px;
}
.join-form label:first-child {
  margin-top: none;
}
.join-form input {
  border: none;
  border-bottom: 3px solid black;
  font-size: 6rem;
  font-family: inherit;
}
.join-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* game */
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.board {
  border: 3px solid black;
  width: 700px;
  cursor: crosshair;
  height: 500px;
}
.game__chat {
  overflow-y: scroll;
  margin-left: 4em;
  border: 3px solid black;
  width: 300px;
  height: 500px;
}
.players-list {
  overflow-y: scroll;
  margin-right: 4em;
  border: 3px solid black;
  width: 300px;
  height: 500px;
}

.player {
  display: grid;
  height: 100px;
  border-bottom: 3px solid black;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.player__avatar {
  display: inline-block;
  padding: 0;
  grid-area: 1/1/3/2;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  align-self: flex-end;
  justify-self: center;
}
.player__name {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  font-size: 2.5rem;
}
.player__score {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  font-size: 4rem;
}

.chat__message:focus {
  outline: none;
}

.chat__message {
  text-decoration: none;
  resize: none;
  overflow-y: none;
}
.settings {
  position: relative;
  width: var(--settings-width);
  height: var(--settings-height);
  left: calc(50% - var(--settings-width) / 2);
  top: calc(50% - var(--settings-height) / 2);
  --settings-width: 800px;
  --settings-height: 600px;
}
/* .settings[open] {
  display: flex;
} */
.settings__exit {
  right: 20px;
  display: block;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 5rem;
  color: red;
  position: absolute;
  padding: 10px;
}

.settings__select-section-buttons-container {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  padding-top: 2em;
}
.settings__select-section-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  font-family: inherit;
}
.settings__select-section-button--current {
  text-decoration: underline;
}
.settings__form {
  display: flex;
  flex-direction: column;
}

.settings__form #rounds_quantity::-webkit-outer-spin-button,
.settings__form #rounds_quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.settings__form #rounds_quantity {
  -moz-appearance: textfield;
  appearance: textfield;
}
.settings__category-label {
  cursor: pointer;
  border: 3px solid black;
  padding: 10px;
  flex-grow: 1;
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
}
.settings__category-checkbox {
  display: none;
}
.settings__form--categories {
  flex-direction: row;
  flex-wrap: wrap;
}
.settings__category-checkbox:checked + .settings__category-label {
  background-color: red;
}
